<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For BLE -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />

    <!-- For NFC engagement -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Link Configuration -->

            <!-- 1. HTTPS App Links (default) - Requires .well-known/assetlinks.json -->
            <!-- Examples: https://apps.multipaz.org/landing/ -->
            <!-- Must match ApplicationSupportLocal.APP_LINK_SERVER -->
            <!-- Requires setting up .well-known/assetlinks.json in the server with app fingerprint -->
            <!-- We are using #2 (Custom URI Scheme) for now in this app. But in a production env,
                 you should use HTTPS links which is more secure -->

            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                &lt;!&ndash;-->
            <!--                Do not include other schemes, only https. If domain is changed here, it-->
            <!--                also MUST be changed in ApplicationSupportLocal class.-->
            <!--                 &ndash;&gt;-->
            <!--                <data-->
            <!--                    android:host="getstarted.multipaz.org"-->
            <!--                    android:pathPattern="/landing/.*"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->

            <!-- 2. Custom URI Scheme - App-specific URLs -->
            <!-- Examples: get-started-app://landing -->
            <!-- Must match ApplicationSupportLocal.APP_LINK_SERVER -->
            <!-- This is an alternative to HTTPS App Links (above) which require .well-known/assetlinks.json -->

            <!-- We are using this for now in this app. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="get-started-app" />
                <data android:host="landing" />
            </intent-filter>

            <!-- 3. OpenID4VCI Credential Offers -->
            <!-- Examples: openid-credential-offer://, haip:// -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--  OpenId Credential Offer scheme (OID4VCI) -->
                <data android:scheme="openid-credential-offer" />
                <!--  High Assurance Interoperability Profile -->
                <data android:scheme="haip" />
                <!-- Accept all hosts for any of the defined schemes above -->
                <data android:host="*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CredmanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="androidx.credentials.registry.provider.action.GET_CREDENTIAL" />
                <action android:name="androidx.identitycredentials.action.GET_CREDENTIALS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NfcActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:turnScreenOn="true" />

        <service
            android:name=".NdefService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/nfc_ndef_service" />
        </service>

    </application>

</manifest>